.sections-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about, .projects, .contact {
    min-height: 87vh;
    width: 100%;
    margin-bottom: 1.2rem;
}

.body-title-block {
    display: flex;
}

.body-title {
    font-family: lb;
    font-size: 2rem;
    font-weight: bold;
    color: #434342;
    margin-right: 0.9rem;
}

.body-title-underline {
    height: auto;
    flex-grow: 1;
    border-bottom: solid #a9e3e3 0.25rem;
    margin-bottom: 0.8rem;
}

.about-top-block {
    display: flex;
}

.about-picture {
    border: whitesmoke solid 4px;
    border-radius: 50%;
    box-shadow: 2px 4px 20px #333333;
}

.about-quote {
    font-style: italic;
}

.about-body {
    text-align: justify;
}